{% extends 'base.html.twig' %}

{% block title "Connexion" %}

{% block body %}
	<div class="container ">
		{% if error %}
			<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h1 class="text-center mb-0">Connectez-vous</h1>

				<form action="{{ path('login') }}" method="post" class="text-center">
					<div class="row mt-5">
						<label for="username">Email:</label>
						<input type="text" id="username" name="_username" value="{{ last_username }}">
					</div>
					<div class="row mt-4">
						<label for="password">Mot de passe :</label>
						<input type="password" id="password" name="_password">
						<input
						type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
						{# If you want to control the URL the user is redirected to on success
								        <input type="hidden" name="_target_path" value="/account"> #}

						<div class="row mt-4">
							<div class="col">
								<button class="btn btn-primary mt-3" type="submit">Connexion</button>
							</div>
						</div>
					</form>
					<a href="{{path('forgot_password_request')}}">Mot de passe oublié ?</a>
				</div>
			</div>
		{% endblock %}
