{% extends 'base.html.twig' %}

{% block title "Les Devs Web d'Alsace" %}
{% block description "Blog des développeurs web d'Alsace" %}

{% block meta %}
	<link rel="canonical" href="{{absolute_url(path('blog'))}}">
{% endblock %}

{% block body %}
	<div class="container">
		<div class="d-flex flex-wrap">
			<div class="col-lg-10 mb-3">
				<div class="section intro-blog">
					<h1 class="text-center">
						{% if tag is defined and tag %}
							#{{tag.name}}
						{% elseif category is defined and category %}
							{{category.name}}
						{% else %}
							Bonne lecture 😎
						{% endif %}

					</h1>
					<div class="d-flex flex-wrap mb-5">
						{% for category in categories %}

							<a class="btn btn-primary rounded-pill mx-auto mt-2" href="{{ path('category_index', {'slug': category.slug}) }}">{{ category.name }}</a>
						{% endfor %}
					</div>
				</div>

				<div class="section articles-blog">
					<div class="d-flex flex-wrap justify-content-evenly">
						{% for article in articles %}

							<div class="card p-2 mx-1 text-center col-4 mb-2">

								<div class="img-ratio">
									<div class="img">
										<img src="{{asset('ressources/images/articles/' ~ article.imageName)  | imagine_filter('normal')}}" alt="{{article.imageName}}">
									</div>
								</div>

								<div class="card-body d-flex justify-content-around">
									<h4 class="card-title">{{article.title}}</h4>
									<p class="card-text ellipsis">{{ article.subtitle }}</p>
									<a href="{{ path('article_show', {'slug': article.slug}) }}" class="btn btn-primary">Lire l'article</a>
								</div>
							</div>
						{% else %}
							<h2>Aucun article disponible</h2>
						{% endfor %}
					</div>
				</div>

				<div class="row">
					<div class="d-flex align-items-center justify-content-center">
						{{ knp_pagination_render(articles) }}
					</div>
				</div>
			</div>

			<div class="col-lg-2 mx-auto align-item d-flex flex-column text-center">
				{% include "blog/elements/_sidebar.html.twig" %}
			</div>
		</div>
	</div>
</div>{% endblock %}
