{% extends 'base.html.twig' %}

{% block title article.title %}
{% block description article.metaDescription %}

{% block meta_og_image %}
	<meta property="og:image" content="{{ absolute_url(asset('ressources/images/articles/' ~ article.imageName) | imagine_filter('facebook')) }}"/>
{% endblock meta_og_image %}

{% block body %}
	<div class="container">
		<div class="mb-3">
			<a href="{{ path('blog') }}">
				<i class="bi bi-arrow-left me-2"></i>
				Retour à la liste</a>
		</div>

		<div class="row">
			<div class="col-lg-9 col-xl-10 mb-3">
				<section class="article-header">
					<h1>{{article.title}}</h1>
					<h2 class="h4 text-body mb-3">{{ article.subtitle }}</h2>

					<div class="img-ratio">
						<div class="img">
							<img src="{{asset('ressources/images/articles/' ~ article.imageName) | imagine_filter('normal')}}" alt="{{article.imageName}}">
						</div>
					</div>
				</section>

				<section class="article-intro bg-light px-3 py-2 rounded border my-4">
					{% if article.category|length %}
						<div class="category">
							<strong>Catégorie : </strong>
								<a href="{{path('category_index', {'slug': article.category.slug})}}">
									{{ article.category }}</a>
						</div>
					{% endif %}
					{% if article.tags|length %}
						<div class="tags">
							<strong>Tags:</strong>
							{% for tag in article.tags %}
								<a href="{{path('tag_index', {'slug': tag.slug})}}">#{{tag.name}}</a>
							{% endfor %}
						</div>
					{% endif %}
					Publié le
					{{ article.createdAt ? article.createdAt|date('d/m/Y') : '' }}, mis à jour le
					{{ article.updatedAt ? article.updatedAt|date('d/m/Y') : '' }}
					{% if article.countViews|length %}
						<br><i class="bi bi-eye"></i>
						{{ article.countViews }}
						vues
				{% endif %}
			</section>

			<section id="article-body">
				{{article.body | raw}}
			</section>
		</div>

		<div class="col-md-4 col-lg-3 col-xl-2 mx-auto align-item d-flex flex-column text-center">
			{% include "blog/elements/_sidebar.html.twig" %}
		</div>
	</div>
</div>{% endblock %}
