{% extends 'base.html.twig' %}


{% block body %}
	<div class="container text-center">
		<h1>{{article.title}}</h1>
			<img src="../ressources/images/articles/{{article.imageName}}" class="w-50" alt="{{article.imageName}}">
				<p>Catégorie : {{ article.category }} <br> Tags :
					{% for tag in article.tags %}
						#{{tag.name}}
					{% endfor %}
				<br>Publié le {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s') : '' }}, dernière mise à jour le {{ article.updatedAt ? article.updatedAt|date('Y-m-d H:i:s') : '' }}</p>
				<p class="">{{ article.subtitle }}</p>

                <p> {{article.body}} </p>
		<a class="btn btn-warning" href="{{ path('blog') }}">Retour à la liste</a>
	</div>

{% endblock %}
