{% extends 'base.html.twig' %}
{% block title %}Contactez nous
{% endblock %}
{% block body %}
	<div class="container">
		<h2>Salu bissame !</h2>
		<p>Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du messti de Bischheim était au Christkindelsmärik en compagnie de Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû, Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !</p>
		<div id="form-contact">
			{{ form_start(form) }}

			<div class="row">
				<div class="col-md-6">
					{{form_row(form.name)}}
				</div>
				<div class="col-md-6">
					{{form_row(form.email)}}
				</div>
			</div>
			{{form_row(form.subject)}}
			{{form_row(form.message)}}
			{{ form_errors(form) }}
			<button class="btn btn-primary">{{ button_label|default('Envoyer') }}</button>
			{{ form_end(form) }}
		</div>
		<h4>Tiens, un rottznoz sur le comptoir</h4>
		<p>Hopla vous savez que la mamsell Huguette, la miss Miss Dahlias du messti de Bischheim était au Christkindelsmärik en compagnie de Richard Schirmeck (celui qui a un blottkopf), le mari de Chulia Roberstau, qui lui trempait sa Nüdle dans sa Schneck ! Yo dû, Pfourtz ! Ch'espère qu'ils avaient du Kabinetpapier, Gal !</p>
	</div>
{% endblock %}
