{% extends 'admin/base.html.twig' %}

{% block title "Bonjour Admin" %}
{% block description "Gestion administrateur tag" %}

{% block body %}
	<div class="container">
		<h1>Tag index</h1>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nom</th>
						<th>Slug</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for tag in tags %}
						<tr>
							<td>{{ tag.id }}</td>
							<td>{{ tag.name }}</td>
							<td>{{ tag.slug }}</td>
							<td>
								<a class="btn btn-warning" href="{{ path('admin_tag_show', {'id': tag.id}) }}">Détails</a>
								<a class="btn btn-info" href="{{ path('admin_tag_edit', {'id': tag.id}) }}">Éditer</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="3">no records found</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<a class="btn btn-primary"  href="{{ path('admin_tag_new') }}">Créer nouveau</a>
	</div>
{% endblock %}
