{% extends 'base.html.twig' %}

{% block title "Profil" %}
{% block description "Profil utilisateur" %}


{% block body %}
	<div class="container">
		<div class="d-flex flex-column">
			<p>Prénom :
				{{app.user.firstName}}</p>
			<p>Nom :
				{{app.user.lastName}}</p>
			<p>Profil créé le :
				{{app.user.createdAt|date(default_date_format)}}</p>
		</div>

		<div>
			<p>Inscrit aux événements :</p>
			<div class="d-flex flex-wrap">
				{% for booking in app.user.eventBookings %}
					{% if booking.event.startAt|date('Y-m-d') > ('now'|date('Y-m-d')) %}
						<div class="m-5 p-3 border border-primary rounded text-center">
							<p>{{booking.event.title}}</p>
							<p>{{booking.event.startAt|date(default_date_format)}}</p>
							<p>
								Places restantes :
								{{booking.event.totalSeats - booking.event.bookings|length }}</p>
							<a class="btn btn-warning my-2">Voir</a>
							{{ include('user/elements/_delete_booking_form.html.twig') }}
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<a class="btn btn-primary" href="{{path("logout")}}" class="link-dark d-inline-flex text-decoration-none rounded">Déconnexion</a>
	</div>
{% endblock %}
